body{
	background: URl("footer_lodyas.png");
}

input[type="text"]:focus { outline: none; }

.entry input{
	text-align: center;

	-webkit-box-shadow: 0px 0px 30px 10px rgba(64,98,153,0.6);
	-moz-box-shadow: 0px 0px 30px 10px rgba(64,98,153,0.6);
	box-shadow: 0px 0px 30px 10px rgba(64,98,153,0.6);

	margin-left: 20px;
}
.entry p:nth-child(3){display: inline; font-size: 1.3em;}


p{
	text-align: right;
	font-size: 2em;
	text-shadow: 0 0 15px #000000;
	color: rgba(255, 255, 255, 0.7);
}

input, p{
	width: 250px;
	height: 25px;
	margin-top: 0px;
	display: inline-block;
}

#start{
	outline: none;
	border:dashed 3px #000000;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	margin-top: 25px;
	margin-bottom: 15px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

#start:active{
	-webkit-box-shadow: 0 -5px 20px 2px #000000;
	box-shadow: 0 -5px 20px 2px #000000;
}

table{
	background-color: white;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
table th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba(64,98,153,1);
    color: white;
}
table th, table td{
    border: 1px solid #ddd;
    padding: 8px;
}
tr:hover {background-color: #ddd;}
tr:nth-child(even) {background-color: #f2f2f2;	}
.lastTr td{
	text-align: right;
	font-size: 1.2em;
}
.lastTr td{
	background-color: rgba(64,98,153,0.2);
}

#information{
	max-width: 1200px;
}